html {
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-osx-font-smoothing: grayscale;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  min-height: 100%;
  text-size-adjust: 100%;
  touch-action: manipulation;
  user-select: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

@view-transition {
  navigation: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: inherit;
}

a {
  color: currentcolor;
  text-decoration: none;
  opacity: 0.87;
}

a:hover,
a:focus,
a:focus-within {
  opacity: 1;
  text-decoration: underline;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  user-select: none;
  cursor: pointer;
  background-color: transparent;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  text-wrap: balance;
  line-height: 1;
  font-weight: 400;
}

p {
  text-wrap: pretty;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  text-indent: 0;
}

table tr th {
  text-align: start;
  font-weight: inherit;
}

[hidden] {
  display: none;
}

ul[reset],
ol[reset] {
  list-style: none;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  --color-white: white;
  --color-black: black;
  /* gray */
  --color-gray-1: light-dark(oklch(99.1068903102% 0 none), oklch(24.3534742255% 0 none));
  --color-gray-2: light-dark(oklch(98.2117639563% 0 none), oklch(50.3229338424% 0 none));
  --color-gray-3: light-dark(oklch(95.5140050255% 0 none), oklch(60.9986449139% 0 none));
  --color-gray-4: light-dark(oklch(93.0999141119% 0 none), oklch(64.3409219922% 0 none));
  --color-gray-5: light-dark(oklch(90.670069163% 0 none), oklch(79.2074340804% 0 none));
  --color-gray-6: light-dark(oklch(88.5305314043% 0 none), oklch(85.1419341411% 0 none));
  --color-gray-7: light-dark(oklch(85.1419341411% 0 none), oklch(88.5305314043% 0 none));
  --color-gray-8: light-dark(oklch(79.2074340804% 0 none), oklch(90.670069163% 0 none));
  --color-gray-9: light-dark(oklch(64.3409219922% 0 none), oklch(93.0999141119% 0 none));
  --color-gray-10: light-dark(oklch(60.9986449139% 0 none), oklch(95.5140050255% 0 none));
  --color-gray-11: light-dark(oklch(50.3229338424% 0 none), oklch(98.2117639563% 0 none));
  --color-gray-12: light-dark(oklch(24.3534742255% 0 none), oklch(99.1068903102% 0 none));
  /* mauve */
  --color-mauve-1: light-dark(oklch(99.2107864174% 0.0016810162 325.5889525567deg), oklch(24.4505693227% 0.0134441323 298.4628281376deg));
  --color-mauve-2: light-dark(oklch(98.3439859356% 0.0028337763 308.4283799049deg), oklch(50.4979077088% 0.015830908 294.9988279936deg));
  --color-mauve-3: light-dark(oklch(95.5574680386% 0.0061790148 317.7524806378deg), oklch(61.2303954331% 0.0180438321 293.512153595deg));
  --color-mauve-4: light-dark(oklch(93.172571038% 0.0073945147 312.2988815932deg), oklch(64.60245727% 0.0192685347 292.918315981deg));
  --color-mauve-5: light-dark(oklch(90.8802646754% 0.0103277563 311.1708872017deg), oklch(79.4511646465% 0.0182810079 293.0480185155deg));
  --color-mauve-6: light-dark(oklch(88.6929696908% 0.0112917396 303.0934340929deg), oklch(85.366870895% 0.014053432 299.7609993078deg));
  --color-mauve-7: light-dark(oklch(85.366870895% 0.014053432 299.7609993078deg), oklch(88.6929696908% 0.0112917396 303.0934340929deg));
  --color-mauve-8: light-dark(oklch(79.4511646465% 0.0182810079 293.0480185155deg), oklch(90.8802646754% 0.0103277563 311.1708872017deg));
  --color-mauve-9: light-dark(oklch(64.60245727% 0.0192685347 292.918315981deg), oklch(93.172571038% 0.0073945147 312.2988815932deg));
  --color-mauve-10: light-dark(oklch(61.2303954331% 0.0180438321 293.512153595deg), oklch(95.5574680386% 0.0061790148 317.7524806378deg));
  --color-mauve-11: light-dark(oklch(50.4979077088% 0.015830908 294.9988279936deg), oklch(98.3439859356% 0.0028337763 308.4283799049deg));
  --color-mauve-12: light-dark(oklch(24.4505693227% 0.0134441323 298.4628281376deg), oklch(99.2107864174% 0.0016810162 325.5889525567deg));
  /* slate */
  --color-slate-1: light-dark(oklch(99.1348210816% 0.0013178094 286.3755507164deg), oklch(24.1130139445% 0.009690542 248.2290218435deg));
  --color-slate-2: light-dark(oklch(98.2678877939% 0.002642378 286.3508935335deg), oklch(50.2488640356% 0.0136212697 264.4449530077deg));
  --color-slate-3: light-dark(oklch(95.5990028287% 0.0039925115 286.3238625293deg), oklch(61.0750401943% 0.0154575576 272.5649735302deg));
  --color-slate-4: light-dark(oklch(93.2142897507% 0.0053592531 286.2952078219deg), oklch(64.5313935869% 0.0164541922 277.6997837071deg));
  --color-slate-5: light-dark(oklch(91.0417708054% 0.0068457929 277.1556785817deg), oklch(79.3843322933% 0.015600984 277.7889854406deg));
  --color-slate-6: light-dark(oklch(88.7349991066% 0.0095065488 286.2043390918deg), oklch(85.3005603186% 0.011054069 280.445857524deg));
  --color-slate-7: light-dark(oklch(85.3005603186% 0.011054069 280.445857524deg), oklch(88.7349991066% 0.0095065488 286.2043390918deg));
  --color-slate-8: light-dark(oklch(79.3843322933% 0.015600984 277.7889854406deg), oklch(91.0417708054% 0.0068457929 277.1556785817deg));
  --color-slate-9: light-dark(oklch(64.5313935869% 0.0164541922 277.6997837071deg), oklch(93.2142897507% 0.0053592531 286.2952078219deg));
  --color-slate-10: light-dark(oklch(61.0750401943% 0.0154575576 272.5649735302deg), oklch(95.5990028287% 0.0039925115 286.3238625293deg));
  --color-slate-11: light-dark(oklch(50.2488640356% 0.0136212697 264.4449530077deg), oklch(98.2678877939% 0.002642378 286.3508935335deg));
  --color-slate-12: light-dark(oklch(24.1130139445% 0.009690542 248.2290218435deg), oklch(99.1348210816% 0.0013178094 286.3755507164deg));
  /* amber */
  --color-amber-1: light-dark(oklch(99.4254189674% 0.0028491382 84.5586856988deg), oklch(35.2188583592% 0.0486330417 54.1686036575deg));
  --color-amber-2: light-dark(oklch(98.5593994096% 0.0237850136 99.0956971653deg), oklch(57.0647524331% 0.1291367386 63.9379060018deg));
  --color-amber-3: light-dark(oklch(96.9544364335% 0.0684162744 100.3879505156deg), oklch(83.1294864496% 0.1679162209 80.8474381078deg));
  --color-amber-4: light-dark(oklch(94.4668660159% 0.103437654 97.9087581287deg), oklch(85.369677897% 0.1572069496 84.1299770714deg));
  --color-amber-5: light-dark(oklch(91.7991169444% 0.1326377159 98.2307944479deg), oklch(75.7679874297% 0.140278037 76.7198288858deg));
  --color-amber-6: light-dark(oklch(88.0405693052% 0.1232662811 93.3919306871deg), oklch(82.7268188325% 0.1224272554 86.6947729096deg));
  --color-amber-7: light-dark(oklch(82.7268188325% 0.1224272554 86.6947729096deg), oklch(88.0405693052% 0.1232662811 93.3919306871deg));
  --color-amber-8: light-dark(oklch(75.7679874297% 0.140278037 76.7198288858deg), oklch(91.7991169444% 0.1326377159 98.2307944479deg));
  --color-amber-9: light-dark(oklch(85.369677897% 0.1572069496 84.1299770714deg), oklch(94.4668660159% 0.103437654 97.9087581287deg));
  --color-amber-10: light-dark(oklch(83.1294864496% 0.1679162209 80.8474381078deg), oklch(96.9544364335% 0.0684162744 100.3879505156deg));
  --color-amber-11: light-dark(oklch(57.0647524331% 0.1291367386 63.9379060018deg), oklch(98.5593994096% 0.0237850136 99.0956971653deg));
  --color-amber-12: light-dark(oklch(35.2188583592% 0.0486330417 54.1686036575deg), oklch(99.4254189674% 0.0028491382 84.5586856988deg));
  /* sage */
  --color-sage-1: light-dark(oklch(99.2258743496% 0.0024820983 165.0782211693deg), oklch(23.9603083777% 0.0116605117 167.5568821239deg));
  --color-sage-2: light-dark(oklch(98.0322891314% 0.002489588 165.0772179845deg), oklch(50.0844401747% 0.0080698677 174.1110105068deg));
  --color-sage-3: light-dark(oklch(95.5582800671% 0.0034569861 174.4818564435deg), oklch(60.5737210323% 0.0104558445 171.5747906221deg));
  --color-sage-4: light-dark(oklch(93.1445164599% 0.0034789537 174.4784208102deg), oklch(63.9204579742% 0.010322281 171.6080448503deg));
  --color-sage-5: light-dark(oklch(90.9912295105% 0.0041928871 157.1713064801deg), oklch(79.1459210035% 0.0052456254 164.9691244443deg));
  --color-sage-6: light-dark(oklch(88.5757883096% 0.0035225243 174.4713368314deg), oklch(85.0812520696% 0.0051526491 164.9842916932deg));
  --color-sage-7: light-dark(oklch(85.0812520696% 0.0051526491 164.9842916932deg), oklch(88.5757883096% 0.0035225243 174.4713368314deg));
  --color-sage-8: light-dark(oklch(79.1459210035% 0.0052456254 164.9691244443deg), oklch(90.9912295105% 0.0041928871 157.1713064801deg));
  --color-sage-9: light-dark(oklch(63.9204579742% 0.010322281 171.6080448503deg), oklch(93.1445164599% 0.0034789537 174.4784208102deg));
  --color-sage-10: light-dark(oklch(60.5737210323% 0.0104558445 171.5747906221deg), oklch(95.5582800671% 0.0034569861 174.4818564435deg));
  --color-sage-11: light-dark(oklch(50.0844401747% 0.0080698677 174.1110105068deg), oklch(98.0322891314% 0.002489588 165.0772179845deg));
  --color-sage-12: light-dark(oklch(23.9603083777% 0.0116605117 167.5568821239deg), oklch(99.2258743496% 0.0024820983 165.0782211693deg));
  /* olive */
  --color-olive-1: light-dark(oklch(99.3013207917% 0.0016803323 145.5634132546deg), oklch(24.1746906346% 0.0110487956 139.4339846524deg));
  --color-olive-2: light-dark(oklch(98.3032376137% 0.0033688263 145.5502958371deg), oklch(50.042101503% 0.0112144752 140.4968556516deg));
  --color-olive-3: light-dark(oklch(95.6061427688% 0.0033923137 145.54937821deg), oklch(60.6981856575% 0.0119490727 136.5865024595deg));
  --color-olive-4: light-dark(oklch(93.1926672371% 0.0034140434 145.5485061581deg), oklch(64.0437037432% 0.0117908804 136.5824829736deg));
  --color-olive-5: light-dark(oklch(90.9630255989% 0.0051515287 145.5333516946deg), oklch(79.1667559614% 0.0064737543 137.7768602371deg));
  --color-olive-6: light-dark(oklch(88.5188572055% 0.0051866625 145.5318643069deg), oklch(85.1302397809% 0.0052374252 145.5296420377deg));
  --color-olive-7: light-dark(oklch(85.1302397809% 0.0052374252 145.5296420377deg), oklch(88.5188572055% 0.0051866625 145.5318643069deg));
  --color-olive-8: light-dark(oklch(79.1667559614% 0.0064737543 137.7768602371deg), oklch(90.9630255989% 0.0051515287 145.5333516946deg));
  --color-olive-9: light-dark(oklch(64.0437037432% 0.0117908804 136.5824829736deg), oklch(93.1926672371% 0.0034140434 145.5485061581deg));
  --color-olive-10: light-dark(oklch(60.6981856575% 0.0119490727 136.5865024595deg), oklch(95.6061427688% 0.0033923137 145.54937821deg));
  --color-olive-11: light-dark(oklch(50.042101503% 0.0112144752 140.4968556516deg), oklch(98.3032376137% 0.0033688263 145.5502958371deg));
  --color-olive-12: light-dark(oklch(24.1746906346% 0.0110487956 139.4339846524deg), oklch(99.3013207917% 0.0016803323 145.5634132546deg));
  /* sand */
  --color-sand-1: light-dark(oklch(99.3770382352% 0.0013160421 106.4235291771deg), oklch(24.3139678752% 0.0075625263 95.3724351323deg));
  --color-sand-2: light-dark(oklch(98.1839029472% 0.0013200147 106.4238925692deg), oklch(49.8088324387% 0.0077862065 106.67896038deg));
  --color-sand-3: light-dark(oklch(95.5627106775% 0.0017186855 67.8015621274deg), oklch(60.4778754146% 0.0089036126 106.6628755652deg));
  --color-sand-4: light-dark(oklch(93.1208984819% 0.0028959643 84.5593193914deg), oklch(64.1298128596% 0.0102321865 106.684668219deg));
  --color-sand-5: light-dark(oklch(90.9677570925% 0.0041883592 91.4494666162deg), oklch(79.1147024034% 0.0084212575 98.9121763303deg));
  --color-sand-6: light-dark(oklch(88.523592142% 0.0042167379 91.4508484239deg), oklch(85.1066647617% 0.0055857841 95.1109842105deg));
  --color-sand-7: light-dark(oklch(85.1066647617% 0.0055857841 95.1109842105deg), oklch(88.523592142% 0.0042167379 91.4508484239deg));
  --color-sand-8: light-dark(oklch(79.1147024034% 0.0084212575 98.9121763303deg), oklch(90.9677570925% 0.0041883592 91.4494666162deg));
  --color-sand-9: light-dark(oklch(64.1298128596% 0.0102321865 106.684668219deg), oklch(93.1208984819% 0.0028959643 84.5593193914deg));
  --color-sand-10: light-dark(oklch(60.4778754146% 0.0089036126 106.6628755652deg), oklch(95.5627106775% 0.0017186855 67.8015621274deg));
  --color-sand-11: light-dark(oklch(49.8088324387% 0.0077862065 106.67896038deg), oklch(98.1839029472% 0.0013200147 106.4238925692deg));
  --color-sand-12: light-dark(oklch(24.3139678752% 0.0075625263 95.3724351323deg), oklch(99.3770382352% 0.0013160421 106.4235291771deg));
  /* blue */
  --color-blue-1: light-dark(oklch(99.3098419078% 0.0034049843 247.8573624102deg), oklch(32.3963340032% 0.0963817027 258.8161999091deg));
  --color-blue-2: light-dark(oklch(98.201833583% 0.0092381805 242.8346985215deg), oklch(55.5750091357% 0.1622195928 252.1947061163deg));
  --color-blue-3: light-dark(oklch(95.9676829014% 0.0200610074 238.662643234deg), oklch(62.2299475286% 0.1831198075 251.7037909326deg));
  --color-blue-4: light-dark(oklch(93.8066958001% 0.0349596036 234.8016966484deg), oklch(64.9293989171% 0.1930400898 251.7798872308deg));
  --color-blue-5: light-dark(oklch(90.5074911622% 0.0512961623 240.3114177919deg), oklch(73.3610119215% 0.121364526 243.0893862232deg));
  --color-blue-6: light-dark(oklch(86.3266349419% 0.0682033923 243.3158195357deg), oklch(80.9760492032% 0.0886740283 243.0542259212deg));
  --color-blue-7: light-dark(oklch(80.9760492032% 0.0886740283 243.0542259212deg), oklch(86.3266349419% 0.0682033923 243.3158195357deg));
  --color-blue-8: light-dark(oklch(73.3610119215% 0.121364526 243.0893862232deg), oklch(90.5074911622% 0.0512961623 240.3114177919deg));
  --color-blue-9: light-dark(oklch(64.9293989171% 0.1930400898 251.7798872308deg), oklch(93.8066958001% 0.0349596036 234.8016966484deg));
  --color-blue-10: light-dark(oklch(62.2299475286% 0.1831198075 251.7037909326deg), oklch(95.9676829014% 0.0200610074 238.662643234deg));
  --color-blue-11: light-dark(oklch(55.5750091357% 0.1622195928 252.1947061163deg), oklch(98.201833583% 0.0092381805 242.8346985215deg));
  --color-blue-12: light-dark(oklch(32.3963340032% 0.0963817027 258.8161999091deg), oklch(99.3098419078% 0.0034049843 247.8573624102deg));
  /* bronze */
  --color-bronze-1: light-dark(oklch(99.1828957222% 0.0010629261 17.1759394098deg), oklch(32.9493500835% 0.0293669529 35.2420935425deg));
  --color-bronze-2: light-dark(oklch(98.0206149126% 0.0069789777 39.4619199862deg), oklch(51.085413748% 0.0437681893 38.6280371491deg));
  --color-bronze-3: light-dark(oklch(95.2302230179% 0.0105696978 39.4386279447deg), oklch(58.7836471748% 0.0455857791 40.910407634deg));
  --color-bronze-4: light-dark(oklch(92.6179867642% 0.0138161071 46.2248099162deg), oklch(62.7427951674% 0.0459529501 44.1620330577deg));
  --color-bronze-5: light-dark(oklch(89.4888947144% 0.0175398237 44.7899696325deg), oklch(74.2275664344% 0.038807024 41.1667419793deg));
  --color-bronze-6: light-dark(oklch(86.0871072906% 0.0230224352 45.5757655261deg), oklch(81.2169209844% 0.0292122423 42.6226696713deg));
  --color-bronze-7: light-dark(oklch(81.2169209844% 0.0292122423 42.6226696713deg), oklch(86.0871072906% 0.0230224352 45.5757655261deg));
  --color-bronze-8: light-dark(oklch(74.2275664344% 0.038807024 41.1667419793deg), oklch(89.4888947144% 0.0175398237 44.7899696325deg));
  --color-bronze-9: light-dark(oklch(62.7427951674% 0.0459529501 44.1620330577deg), oklch(92.6179867642% 0.0138161071 46.2248099162deg));
  --color-bronze-10: light-dark(oklch(58.7836471748% 0.0455857791 40.910407634deg), oklch(95.2302230179% 0.0105696978 39.4386279447deg));
  --color-bronze-11: light-dark(oklch(51.085413748% 0.0437681893 38.6280371491deg), oklch(98.0206149126% 0.0069789777 39.4619199862deg));
  --color-bronze-12: light-dark(oklch(32.9493500835% 0.0293669529 35.2420935425deg), oklch(99.1828957222% 0.0010629261 17.1759394098deg));
  /* brown */
  --color-brown-1: light-dark(oklch(99.4530258685% 0.001701631 67.802505937deg), oklch(33.1363446365% 0.0181268203 45.8647522554deg));
  --color-brown-2: light-dark(oklch(98.3583065695% 0.0051183028 67.764552638deg), oklch(51.2201164428% 0.0582228843 55.4531004142deg));
  --color-brown-3: light-dark(oklch(95.3433179897% 0.0127515605 63.9192302347deg), oklch(59.7400914765% 0.0724015569 59.1353983877deg));
  --color-brown-4: light-dark(oklch(92.5388220187% 0.0197589726 65.1329837803deg), oklch(63.2851944785% 0.0784870088 60.9841948445deg));
  --color-brown-5: light-dark(oklch(89.7820297599% 0.0285981832 65.7419361867deg), oklch(74.5913431531% 0.0715622984 62.0985643857deg));
  --color-brown-6: light-dark(oklch(86.1620714403% 0.0393773494 66.007567632deg), oklch(81.5447574833% 0.0537856388 64.1519857022deg));
  --color-brown-7: light-dark(oklch(81.5447574833% 0.0537856388 64.1519857022deg), oklch(86.1620714403% 0.0393773494 66.007567632deg));
  --color-brown-8: light-dark(oklch(74.5913431531% 0.0715622984 62.0985643857deg), oklch(89.7820297599% 0.0285981832 65.7419361867deg));
  --color-brown-9: light-dark(oklch(63.2851944785% 0.0784870088 60.9841948445deg), oklch(92.5388220187% 0.0197589726 65.1329837803deg));
  --color-brown-10: light-dark(oklch(59.7400914765% 0.0724015569 59.1353983877deg), oklch(95.3433179897% 0.0127515605 63.9192302347deg));
  --color-brown-11: light-dark(oklch(51.2201164428% 0.0582228843 55.4531004142deg), oklch(98.3583065695% 0.0051183028 67.764552638deg));
  --color-brown-12: light-dark(oklch(33.1363446365% 0.0181268203 45.8647522554deg), oklch(99.4530258685% 0.001701631 67.802505937deg));
  /* crimson */
  --color-crimson-1: light-dark(oklch(99.3635276917% 0.0034357539 354.6875453556deg), oklch(34.0906501468% 0.1129319561 356.9396367746deg));
  --color-crimson-2: light-dark(oklch(98.2093736624% 0.0079081473 357.7933417373deg), oklch(55.2179947732% 0.2072897767 4.4881490951deg));
  --color-crimson-3: light-dark(oklch(95.3611999884% 0.0255698608 356.2832157544deg), oklch(60.7453190922% 0.2105833854 2.2268825058deg));
  --color-crimson-4: light-dark(oklch(92.5768095646% 0.0401419905 356.4086000745deg), oklch(63.4053191205% 0.2129612229 1.2761877563deg));
  --color-crimson-5: light-dark(oklch(89.3387992289% 0.0530152618 355.7742474229deg), oklch(74.933580499% 0.1001958567 354.0212241839deg));
  --color-crimson-6: light-dark(oklch(85.4098216122% 0.0652746155 355.162023326deg), oklch(80.8690513643% 0.078032173 354.939838522deg));
  --color-crimson-7: light-dark(oklch(80.8690513643% 0.078032173 354.939838522deg), oklch(85.4098216122% 0.0652746155 355.162023326deg));
  --color-crimson-8: light-dark(oklch(74.933580499% 0.1001958567 354.0212241839deg), oklch(89.3387992289% 0.0530152618 355.7742474229deg));
  --color-crimson-9: light-dark(oklch(63.4053191205% 0.2129612229 1.2761877563deg), oklch(92.5768095646% 0.0401419905 356.4086000745deg));
  --color-crimson-10: light-dark(oklch(60.7453190922% 0.2105833854 2.2268825058deg), oklch(95.3611999884% 0.0255698608 356.2832157544deg));
  --color-crimson-11: light-dark(oklch(55.2179947732% 0.2072897767 4.4881490951deg), oklch(98.2093736624% 0.0079081473 357.7933417373deg));
  --color-crimson-12: light-dark(oklch(34.0906501468% 0.1129319561 356.9396367746deg), oklch(99.3635276917% 0.0034357539 354.6875453556deg));
  /* cyan */
  --color-cyan-1: light-dark(oklch(99.2066255353% 0.0034554595 219.5325166871deg), oklch(33.1430318311% 0.0526867884 218.8280817384deg));
  --color-cyan-2: light-dark(oklch(97.9396170596% 0.0085778655 205.8961499899deg), oklch(54.6965538396% 0.0966416573 220.7521868556deg));
  --color-cyan-3: light-dark(oklch(95.8570725047% 0.0262639079 202.5618599579deg), oklch(62.6991322141% 0.1143144396 221.5039666253deg));
  --color-cyan-4: light-dark(oklch(93.206568157% 0.0408735583 205.9812040099deg), oklch(66.0042262726% 0.1217158775 221.7438129121deg));
  --color-cyan-5: light-dark(oklch(90.0376087376% 0.0539427486 206.4466636519deg), oklch(72.75670686% 0.1102310773 211.9325313634deg));
  --color-cyan-6: light-dark(oklch(85.7870799288% 0.0659439457 208.1351516535deg), oklch(80.4486609897% 0.0816180621 209.6994099995deg));
  --color-cyan-7: light-dark(oklch(80.4486609897% 0.0816180621 209.6994099995deg), oklch(85.7870799288% 0.0659439457 208.1351516535deg));
  --color-cyan-8: light-dark(oklch(72.75670686% 0.1102310773 211.9325313634deg), oklch(90.0376087376% 0.0539427486 206.4466636519deg));
  --color-cyan-9: light-dark(oklch(66.0042262726% 0.1217158775 221.7438129121deg), oklch(93.206568157% 0.0408735583 205.9812040099deg));
  --color-cyan-10: light-dark(oklch(62.6991322141% 0.1143144396 221.5039666253deg), oklch(95.8570725047% 0.0262639079 202.5618599579deg));
  --color-cyan-11: light-dark(oklch(54.6965538396% 0.0966416573 220.7521868556deg), oklch(97.9396170596% 0.0085778655 205.8961499899deg));
  --color-cyan-12: light-dark(oklch(33.1430318311% 0.0526867884 218.8280817384deg), oklch(99.2066255353% 0.0034554595 219.5325166871deg));
  /* gold */
  --color-gold-1: light-dark(oklch(99.3770382352% 0.0013160421 106.4235291771deg), oklch(33.2006874276% 0.0189251957 80.5089392546deg));
  --color-gold-2: light-dark(oklch(98.0960094512% 0.0092908039 99.9815029143deg), oklch(50.4233191779% 0.0394918745 78.2622317923deg));
  --color-gold-3: light-dark(oklch(95.4210204509% 0.0121326004 96.4247390936deg), oklch(58.8716006235% 0.0460866879 78.619801028deg));
  --color-gold-4: light-dark(oklch(92.5040436573% 0.0153261195 90.2403362222deg), oklch(62.0439738982% 0.049157153 77.6985465323deg));
  --color-gold-5: light-dark(oklch(89.4865023891% 0.0183241817 89.3669968364deg), oklch(73.9024492536% 0.0422741856 79.3644109197deg));
  --color-gold-6: light-dark(oklch(85.9396054727% 0.0246712439 85.7926065276deg), oklch(81.0907281895% 0.0325065066 84.5842532495deg));
  --color-gold-7: light-dark(oklch(81.0907281895% 0.0325065066 84.5842532495deg), oklch(85.9396054727% 0.0246712439 85.7926065276deg));
  --color-gold-8: light-dark(oklch(73.9024492536% 0.0422741856 79.3644109197deg), oklch(89.4865023891% 0.0183241817 89.3669968364deg));
  --color-gold-9: light-dark(oklch(62.0439738982% 0.049157153 77.6985465323deg), oklch(92.5040436573% 0.0153261195 90.2403362222deg));
  --color-gold-10: light-dark(oklch(58.8716006235% 0.0460866879 78.619801028deg), oklch(95.4210204509% 0.0121326004 96.4247390936deg));
  --color-gold-11: light-dark(oklch(50.4233191779% 0.0394918745 78.2622317923deg), oklch(98.0960094512% 0.0092908039 99.9815029143deg));
  --color-gold-12: light-dark(oklch(33.2006874276% 0.0189251957 80.5089392546deg), oklch(99.3770382352% 0.0013160421 106.4235291771deg));
  /* grass */
  --color-grass-1: light-dark(oklch(99.3932306898% 0.0050388257 145.5378540481deg), oklch(32.6585236094% 0.0530198785 148.5938593068deg));
  --color-grass-2: light-dark(oklch(98.1917673394% 0.0101047957 145.4981661074deg), oklch(52.6232426194% 0.1294069997 147.1971367698deg));
  --color-grass-3: light-dark(oklch(95.9885407848% 0.021994918 145.4013287297deg), oklch(61.5233440162% 0.1422340874 147.1862262841deg));
  --color-grass-4: light-dark(oklch(93.5276823871% 0.0380509985 146.4661592404deg), oklch(65.1236359072% 0.1467847275 147.3917833804deg));
  --color-grass-5: light-dark(oklch(90.037895884% 0.0519984175 145.9934397184deg), oklch(71.7358806988% 0.1308133732 148.1396201321deg));
  --color-grass-6: light-dark(oklch(85.6259192978% 0.0709557038 146.7706558077deg), oklch(79.778306112% 0.0943136194 147.2625074717deg));
  --color-grass-7: light-dark(oklch(79.778306112% 0.0943136194 147.2625074717deg), oklch(85.6259192978% 0.0709557038 146.7706558077deg));
  --color-grass-8: light-dark(oklch(71.7358806988% 0.1308133732 148.1396201321deg), oklch(90.037895884% 0.0519984175 145.9934397184deg));
  --color-grass-9: light-dark(oklch(65.1236359072% 0.1467847275 147.3917833804deg), oklch(93.5276823871% 0.0380509985 146.4661592404deg));
  --color-grass-10: light-dark(oklch(61.5233440162% 0.1422340874 147.1862262841deg), oklch(95.9885407848% 0.021994918 145.4013287297deg));
  --color-grass-11: light-dark(oklch(52.6232426194% 0.1294069997 147.1971367698deg), oklch(98.1917673394% 0.0101047957 145.4981661074deg));
  --color-grass-12: light-dark(oklch(32.6585236094% 0.0530198785 148.5938593068deg), oklch(99.3932306898% 0.0050388257 145.5378540481deg));
  /* green */
  --color-green-1: light-dark(oklch(99.4208437117% 0.0041014199 157.1811524185deg), oklch(32.198428414% 0.0475020448 164.534033049deg));
  --color-green-2: light-dark(oklch(98.1448228716% 0.0098756978 155.1007345875deg), oklch(54.3464272894% 0.1115967167 159.4973054909deg));
  --color-green-3: light-dark(oklch(95.8247275908% 0.0222737676 155.9250334422deg), oklch(61.1471567162% 0.1266385362 158.2284235639deg));
  --color-green-4: light-dark(oklch(93.3532552139% 0.037183149 156.4291650001deg), oklch(64.0597489694% 0.1328754245 157.6795339418deg));
  --color-green-5: light-dark(oklch(89.8800679758% 0.0489415256 157.2485643609deg), oklch(71.5586159606% 0.1133064099 160.2754162252deg));
  --color-green-6: light-dark(oklch(85.5820932632% 0.0640551648 158.2042842226deg), oklch(79.8152173804% 0.0831645913 159.1494855885deg));
  --color-green-7: light-dark(oklch(79.8152173804% 0.0831645913 159.1494855885deg), oklch(85.5820932632% 0.0640551648 158.2042842226deg));
  --color-green-8: light-dark(oklch(71.5586159606% 0.1133064099 160.2754162252deg), oklch(89.8800679758% 0.0489415256 157.2485643609deg));
  --color-green-9: light-dark(oklch(64.0597489694% 0.1328754245 157.6795339418deg), oklch(93.3532552139% 0.037183149 156.4291650001deg));
  --color-green-10: light-dark(oklch(61.1471567162% 0.1266385362 158.2284235639deg), oklch(95.8247275908% 0.0222737676 155.9250334422deg));
  --color-green-11: light-dark(oklch(54.3464272894% 0.1115967167 159.4973054909deg), oklch(98.1448228716% 0.0098756978 155.1007345875deg));
  --color-green-12: light-dark(oklch(32.198428414% 0.0475020448 164.534033049deg), oklch(99.4208437117% 0.0041014199 157.1811524185deg));
  /* indigo */
  --color-indigo-1: light-dark(oklch(99.4327258418% 0.0013168195 286.3756409049deg), oklch(31.2636982867% 0.0858210769 268.5964009814deg));
  --color-indigo-2: light-dark(oklch(98.2307005209% 0.0082524958 271.3302154313deg), oklch(50.9214404339% 0.1724997724 267.165638523deg));
  --color-indigo-3: light-dark(oklch(96.085905555% 0.0169606226 267.7912624546deg), oklch(51.0646115502% 0.195373785 266.5779137931deg));
  --color-indigo-4: light-dark(oklch(93.4611421502% 0.0310391567 269.8186712479deg), oklch(54.3750134519% 0.1910154786 267.0053855348deg));
  --color-indigo-5: light-dark(oklch(90.1944349295% 0.0471477938 269.615691937deg), oklch(73.0852524018% 0.1123329624 270.4290265319deg));
  --color-indigo-6: light-dark(oklch(86.1954991465% 0.0675271001 271.0877275375deg), oklch(80.61550712% 0.0875380001 271.4134665995deg));
  --color-indigo-7: light-dark(oklch(80.61550712% 0.0875380001 271.4134665995deg), oklch(86.1954991465% 0.0675271001 271.0877275375deg));
  --color-indigo-8: light-dark(oklch(73.0852524018% 0.1123329624 270.4290265319deg), oklch(90.1944349295% 0.0471477938 269.615691937deg));
  --color-indigo-9: light-dark(oklch(54.3750134519% 0.1910154786 267.0053855348deg), oklch(93.4611421502% 0.0310391567 269.8186712479deg));
  --color-indigo-10: light-dark(oklch(51.0646115502% 0.195373785 266.5779137931deg), oklch(96.085905555% 0.0169606226 267.7912624546deg));
  --color-indigo-11: light-dark(oklch(50.9214404339% 0.1724997724 267.165638523deg), oklch(98.2307005209% 0.0082524958 271.3302154313deg));
  --color-indigo-12: light-dark(oklch(31.2636982867% 0.0858210769 268.5964009814deg), oklch(99.4327258418% 0.0013168195 286.3756409049deg));
  /* iris */
  --color-iris-1: light-dark(oklch(99.460766944% 0.002634391 286.3516247393deg), oklch(31.4275197811% 0.0988414079 277.5606092493deg));
  --color-iris-2: light-dark(oklch(98.1118764041% 0.0092679435 286.2275987149deg), oklch(51.1107744316% 0.1738771529 279.8431119697deg));
  --color-iris-3: light-dark(oklch(96.1159317842% 0.0173907347 282.5441089355deg), oklch(50.8746921113% 0.1869067354 277.4465029385deg));
  --color-iris-4: light-dark(oklch(93.442976573% 0.0323803989 283.852115421deg), oklch(54.0310124955% 0.1841241797 278.2845767011deg));
  --color-iris-5: light-dark(oklch(90.392219526% 0.04779402 282.8072938068deg), oklch(72.9280808351% 0.1182455859 281.4366892151deg));
  --color-iris-6: light-dark(oklch(86.3366655396% 0.069183359 283.047953703deg), oklch(80.9235036773% 0.0872411187 282.8261667686deg));
  --color-iris-7: light-dark(oklch(80.9235036773% 0.0872411187 282.8261667686deg), oklch(86.3366655396% 0.069183359 283.047953703deg));
  --color-iris-8: light-dark(oklch(72.9280808351% 0.1182455859 281.4366892151deg), oklch(90.392219526% 0.04779402 282.8072938068deg));
  --color-iris-9: light-dark(oklch(54.0310124955% 0.1841241797 278.2845767011deg), oklch(93.442976573% 0.0323803989 283.852115421deg));
  --color-iris-10: light-dark(oklch(50.8746921113% 0.1869067354 277.4465029385deg), oklch(96.1159317842% 0.0173907347 282.5441089355deg));
  --color-iris-11: light-dark(oklch(51.1107744316% 0.1738771529 279.8431119697deg), oklch(98.1118764041% 0.0092679435 286.2275987149deg));
  --color-iris-12: light-dark(oklch(31.4275197811% 0.0988414079 277.5606092493deg), oklch(99.460766944% 0.002634391 286.3516247393deg));
  /* jade */
  --color-jade-1: light-dark(oklch(99.4485881582% 0.0034229856 174.4869997852deg), oklch(32.5413467253% 0.0405996317 170.0772988772deg));
  --color-jade-2: light-dark(oklch(98.1723858366% 0.0090554097 161.3570633582deg), oklch(54.7450652709% 0.098291478 170.0488568726deg));
  --color-jade-3: light-dark(oklch(96.0803265465% 0.0222432426 160.2316353063deg), oklch(61.303977854% 0.1096223277 170.8513195396deg));
  --color-jade-4: light-dark(oklch(93.4609034733% 0.0339462954 163.2243315663deg), oklch(64.2150291253% 0.115025287 170.730122751deg));
  --color-jade-5: light-dark(oklch(90.1857572904% 0.0465852744 165.0536387155deg), oklch(72.138960035% 0.1026054984 173.1207753792deg));
  --color-jade-6: light-dark(oklch(85.9508176386% 0.0601143872 166.2427212137deg), oklch(79.9680272112% 0.0763106894 169.8930194056deg));
  --color-jade-7: light-dark(oklch(79.9680272112% 0.0763106894 169.8930194056deg), oklch(85.9508176386% 0.0601143872 166.2427212137deg));
  --color-jade-8: light-dark(oklch(72.138960035% 0.1026054984 173.1207753792deg), oklch(90.1857572904% 0.0465852744 165.0536387155deg));
  --color-jade-9: light-dark(oklch(64.2150291253% 0.115025287 170.730122751deg), oklch(93.4609034733% 0.0339462954 163.2243315663deg));
  --color-jade-10: light-dark(oklch(61.303977854% 0.1096223277 170.8513195396deg), oklch(96.0803265465% 0.0222432426 160.2316353063deg));
  --color-jade-11: light-dark(oklch(54.7450652709% 0.098291478 170.0488568726deg), oklch(98.1723858366% 0.0090554097 161.3570633582deg));
  --color-jade-12: light-dark(oklch(32.5413467253% 0.0405996317 170.0772988772deg), oklch(99.4485881582% 0.0034229856 174.4869997852deg));
  /* lime */
  --color-lime-1: light-dark(oklch(99.2460804677% 0.0040753411 121.5589195007deg), oklch(35.370387775% 0.0572812553 120.9802490346deg));
  --color-lime-2: light-dark(oklch(98.1663084127% 0.0094442979 119.5740942181deg), oklch(54.4400091594% 0.1113908146 128.6036839535deg));
  --color-lime-3: light-dark(oklch(95.8778341515% 0.0428098915 118.6191384063deg), oklch(85.880095962% 0.187866731 126.7472475576deg));
  --color-lime-4: light-dark(oklch(93.1908518485% 0.0683280901 120.2046259058deg), oklch(88.7417916848% 0.1747300113 126.0886416003deg));
  --color-lime-5: light-dark(oklch(89.7329712694% 0.0875916763 122.0626037739deg), oklch(72.5043106565% 0.1350742454 128.225165601deg));
  --color-lime-6: light-dark(oklch(85.3150592039% 0.0991498787 123.287182431deg), oklch(79.4815072459% 0.111603829 125.4270311842deg));
  --color-lime-7: light-dark(oklch(79.4815072459% 0.111603829 125.4270311842deg), oklch(85.3150592039% 0.0991498787 123.287182431deg));
  --color-lime-8: light-dark(oklch(72.5043106565% 0.1350742454 128.225165601deg), oklch(89.7329712694% 0.0875916763 122.0626037739deg));
  --color-lime-9: light-dark(oklch(88.7417916848% 0.1747300113 126.0886416003deg), oklch(93.1908518485% 0.0683280901 120.2046259058deg));
  --color-lime-10: light-dark(oklch(85.880095962% 0.187866731 126.7472475576deg), oklch(95.8778341515% 0.0428098915 118.6191384063deg));
  --color-lime-11: light-dark(oklch(54.4400091594% 0.1113908146 128.6036839535deg), oklch(98.1663084127% 0.0094442979 119.5740942181deg));
  --color-lime-12: light-dark(oklch(35.370387775% 0.0572812553 120.9802490346deg), oklch(99.2460804677% 0.0040753411 121.5589195007deg));
  /* mint */
  --color-mint-1: light-dark(oklch(99.2991614425% 0.0054320049 183.034793506deg), oklch(34.964952172% 0.0505231187 181.3053274905deg));
  --color-mint-2: light-dark(oklch(98.0803152807% 0.009841878 181.4153595924deg), oklch(51.1712824745% 0.0955312406 175.5975884909deg));
  --color-mint-3: light-dark(oklch(95.9935611118% 0.0305818542 178.9299453055deg), oklch(84.0145893723% 0.0988232394 178.4151199325deg));
  --color-mint-4: light-dark(oklch(93.3221625679% 0.047606227 178.327044206deg), oklch(86.9608316448% 0.0999131178 177.9782766836deg));
  --color-mint-5: light-dark(oklch(90.0202649345% 0.061071652 178.0555871107deg), oklch(72.2135596866% 0.1063149345 177.8446559208deg));
  --color-mint-6: light-dark(oklch(85.6820872303% 0.072026382 178.1726482478deg), oklch(79.7280815506% 0.0841432226 178.2298742098deg));
  --color-mint-7: light-dark(oklch(79.7280815506% 0.0841432226 178.2298742098deg), oklch(85.6820872303% 0.072026382 178.1726482478deg));
  --color-mint-8: light-dark(oklch(72.2135596866% 0.1063149345 177.8446559208deg), oklch(90.0202649345% 0.061071652 178.0555871107deg));
  --color-mint-9: light-dark(oklch(86.9608316448% 0.0999131178 177.9782766836deg), oklch(93.3221625679% 0.047606227 178.327044206deg));
  --color-mint-10: light-dark(oklch(84.0145893723% 0.0988232394 178.4151199325deg), oklch(95.9935611118% 0.0305818542 178.9299453055deg));
  --color-mint-11: light-dark(oklch(51.1712824745% 0.0955312406 175.5975884909deg), oklch(98.0803152807% 0.009841878 181.4153595924deg));
  --color-mint-12: light-dark(oklch(34.964952172% 0.0505231187 181.3053274905deg), oklch(99.2991614425% 0.0054320049 183.034793506deg));
  /* orange */
  --color-orange-1: light-dark(oklch(99.2314529242% 0.0025165405 48.719567755deg), oklch(34.9930854792% 0.0685087265 40.8287690102deg));
  --color-orange-2: light-dark(oklch(97.9622322518% 0.0157715835 73.6840408008deg), oklch(58.5487788142% 0.1742609191 42.7356856369deg));
  --color-orange-3: light-dark(oklch(95.8319496338% 0.0371215944 79.1124863785deg), oklch(66.2359239075% 0.194559028 43.4581971285deg));
  --color-orange-4: light-dark(oklch(91.9963109334% 0.0650961815 74.369472174deg), oklch(69.079612028% 0.1909110814 45.0151279634deg));
  --color-orange-5: light-dark(oklch(88.7885858384% 0.0875052199 71.3116537514deg), oklch(74.4998683701% 0.1322251918 54.6844688503deg));
  --color-orange-6: light-dark(oklch(85.3722611736% 0.1068247788 66.0175057565deg), oklch(80.5855328276% 0.1123259627 59.9616279353deg));
  --color-orange-7: light-dark(oklch(80.5855328276% 0.1123259627 59.9616279353deg), oklch(85.3722611736% 0.1068247788 66.0175057565deg));
  --color-orange-8: light-dark(oklch(74.4998683701% 0.1322251918 54.6844688503deg), oklch(88.7885858384% 0.0875052199 71.3116537514deg));
  --color-orange-9: light-dark(oklch(69.079612028% 0.1909110814 45.0151279634deg), oklch(91.9963109334% 0.0650961815 74.369472174deg));
  --color-orange-10: light-dark(oklch(66.2359239075% 0.194559028 43.4581971285deg), oklch(95.8319496338% 0.0371215944 79.1124863785deg));
  --color-orange-11: light-dark(oklch(58.5487788142% 0.1742609191 42.7356856369deg), oklch(97.9622322518% 0.0157715835 73.6840408008deg));
  --color-orange-12: light-dark(oklch(34.9930854792% 0.0685087265 40.8287690102deg), oklch(99.2314529242% 0.0025165405 48.719567755deg));
  /* pink */
  --color-pink-1: light-dark(oklch(99.3914697197% 0.0041079302 337.3484035079deg), oklch(34.9770007607% 0.1289143703 345.3619587109deg));
  --color-pink-2: light-dark(oklch(98.2655437729% 0.0090960289 341.7982161071deg), oklch(55.7537909567% 0.2068782498 347.3172531745deg));
  --color-pink-3: light-dark(oklch(95.4217888644% 0.0275998091 342.2531625663deg), oklch(59.5525980301% 0.2074141791 346.6695277402deg));
  --color-pink-4: light-dark(oklch(92.5504338075% 0.0421223198 340.6224272154deg), oklch(61.6784426954% 0.2076080804 346.0031110598deg));
  --color-pink-5: light-dark(oklch(89.2741405013% 0.0552967473 340.3888304163deg), oklch(75.1303935253% 0.1071376815 341.4766298518deg));
  --color-pink-6: light-dark(oklch(85.5768469364% 0.0671132418 340.7191800092deg), oklch(80.97395008% 0.0829795599 341.9207298007deg));
  --color-pink-7: light-dark(oklch(80.97395008% 0.0829795599 341.9207298007deg), oklch(85.5768469364% 0.0671132418 340.7191800092deg));
  --color-pink-8: light-dark(oklch(75.1303935253% 0.1071376815 341.4766298518deg), oklch(89.2741405013% 0.0552967473 340.3888304163deg));
  --color-pink-9: light-dark(oklch(61.6784426954% 0.2076080804 346.0031110598deg), oklch(92.5504338075% 0.0421223198 340.6224272154deg));
  --color-pink-10: light-dark(oklch(59.5525980301% 0.2074141791 346.6695277402deg), oklch(95.4217888644% 0.0275998091 342.2531625663deg));
  --color-pink-11: light-dark(oklch(55.7537909567% 0.2068782498 347.3172531745deg), oklch(98.2655437729% 0.0090960289 341.7982161071deg));
  --color-pink-12: light-dark(oklch(34.9770007607% 0.1289143703 345.3619587109deg), oklch(99.3914697197% 0.0041079302 337.3484035079deg));
  /* plum */
  --color-plum-1: light-dark(oklch(99.3431187759% 0.0044601019 314.8050876248deg), oklch(33.7671811163% 0.1251326193 321.4230776631deg));
  --color-plum-2: light-dark(oklch(98.2445557795% 0.0101144425 325.6534171288deg), oklch(52.1555844771% 0.1726505132 321.8942059722deg));
  --color-plum-3: light-dark(oklch(95.7325027891% 0.0271558125 325.7870296038deg), oklch(55.1947816396% 0.1811993908 322.2385968058deg));
  --color-plum-4: light-dark(oklch(92.8591250558% 0.0437775143 324.755596645deg), oklch(57.8736921687% 0.1877217212 322.1066222265deg));
  --color-plum-5: light-dark(oklch(89.8526839206% 0.057877858 325.1402860328deg), oklch(74.1341533588% 0.120195624 322.2366651253deg));
  --color-plum-6: light-dark(oklch(86.0633390217% 0.0709665062 323.893534412deg), oklch(80.9295989963% 0.0915265261 323.3106472745deg));
  --color-plum-7: light-dark(oklch(80.9295989963% 0.0915265261 323.3106472745deg), oklch(86.0633390217% 0.0709665062 323.893534412deg));
  --color-plum-8: light-dark(oklch(74.1341533588% 0.120195624 322.2366651253deg), oklch(89.8526839206% 0.057877858 325.1402860328deg));
  --color-plum-9: light-dark(oklch(57.8736921687% 0.1877217212 322.1066222265deg), oklch(92.8591250558% 0.0437775143 324.755596645deg));
  --color-plum-10: light-dark(oklch(55.1947816396% 0.1811993908 322.2385968058deg), oklch(95.7325027891% 0.0271558125 325.7870296038deg));
  --color-plum-11: light-dark(oklch(52.1555844771% 0.1726505132 321.8942059722deg), oklch(98.2445557795% 0.0101144425 325.6534171288deg));
  --color-plum-12: light-dark(oklch(33.7671811163% 0.1251326193 321.4230776631deg), oklch(99.3431187759% 0.0044601019 314.8050876248deg));
  /* purple */
  --color-purple-1: light-dark(oklch(99.3150046012% 0.0033614235 325.601666017deg), oklch(32.2221682891% 0.110208212 303.8393197648deg));
  --color-purple-2: light-dark(oklch(98.118665615% 0.0101315178 311.1797275797deg), oklch(51.6833228151% 0.1733201231 305.8770647272deg));
  --color-purple-3: light-dark(oklch(95.8845693629% 0.0248758578 311.7071622199deg), oklch(52.4635563963% 0.175482174 305.3934431729deg));
  --color-purple-4: light-dark(oklch(93.3266907333% 0.0386094406 312.65481529deg), oklch(55.5623153626% 0.1829101016 305.8601181111deg));
  --color-purple-5: light-dark(oklch(90.1159349928% 0.0533560716 311.2488504479deg), oklch(73.3053899728% 0.1225249639 307.9685071491deg));
  --color-purple-6: light-dark(oklch(85.9175354409% 0.0718403078 311.0517179271deg), oklch(80.4274293628% 0.0917583421 309.689253178deg));
  --color-purple-7: light-dark(oklch(80.4274293628% 0.0917583421 309.689253178deg), oklch(85.9175354409% 0.0718403078 311.0517179271deg));
  --color-purple-8: light-dark(oklch(73.3053899728% 0.1225249639 307.9685071491deg), oklch(90.1159349928% 0.0533560716 311.2488504479deg));
  --color-purple-9: light-dark(oklch(55.5623153626% 0.1829101016 305.8601181111deg), oklch(93.3266907333% 0.0386094406 312.65481529deg));
  --color-purple-10: light-dark(oklch(52.4635563963% 0.175482174 305.3934431729deg), oklch(95.8845693629% 0.0248758578 311.7071622199deg));
  --color-purple-11: light-dark(oklch(51.6833228151% 0.1733201231 305.8770647272deg), oklch(98.118665615% 0.0101315178 311.1797275797deg));
  --color-purple-12: light-dark(oklch(32.2221682891% 0.110208212 303.8393197648deg), oklch(99.3150046012% 0.0033614235 325.601666017deg));
  /* red */
  --color-red-1: light-dark(oklch(99.3357173193% 0.00319307 17.2111361536deg), oklch(33.8991225028% 0.1089081796 16.6001296481deg));
  --color-red-2: light-dark(oklch(98.231955765% 0.0085755707 17.3024393847deg), oklch(55.7003069375% 0.1974299267 25.1681430697deg));
  --color-red-3: light-dark(oklch(95.5471005776% 0.0207178669 13.8566326313deg), oklch(59.9020677403% 0.194655702 24.0353426186deg));
  --color-red-4: light-dark(oklch(92.1721679304% 0.0401101734 16.004404483deg), oklch(62.5565261093% 0.1933399291 23.0260604648deg));
  --color-red-5: light-dark(oklch(89.2040634046% 0.0567454747 16.9257045041deg), oklch(74.4336566445% 0.1132524148 18.752894078deg));
  --color-red-6: light-dark(oklch(85.6903732705% 0.0740719238 17.6761407708deg), oklch(80.6987500538% 0.0887909651 18.3200895535deg));
  --color-red-7: light-dark(oklch(80.6987500538% 0.0887909651 18.3200895535deg), oklch(85.6903732705% 0.0740719238 17.6761407708deg));
  --color-red-8: light-dark(oklch(74.4336566445% 0.1132524148 18.752894078deg), oklch(89.2040634046% 0.0567454747 16.9257045041deg));
  --color-red-9: light-dark(oklch(62.5565261093% 0.1933399291 23.0260604648deg), oklch(92.1721679304% 0.0401101734 16.004404483deg));
  --color-red-10: light-dark(oklch(59.9020677403% 0.194655702 24.0353426186deg), oklch(95.5471005776% 0.0207178669 13.8566326313deg));
  --color-red-11: light-dark(oklch(55.7003069375% 0.1974299267 25.1681430697deg), oklch(98.231955765% 0.0085755707 17.3024393847deg));
  --color-red-12: light-dark(oklch(33.8991225028% 0.1089081796 16.6001296481deg), oklch(99.3357173193% 0.00319307 17.2111361536deg));
  /* ruby */
  --color-ruby-1: light-dark(oklch(99.3635276917% 0.0034357539 354.6875453556deg), oklch(34.1047566366% 0.1095471003 9.9995490974deg));
  --color-ruby-2: light-dark(oklch(98.2596643836% 0.0086547389 8.540549166deg), oklch(54.8907442185% 0.1985225901 13.8978957401deg));
  --color-ruby-3: light-dark(oklch(95.3842008726% 0.0220961867 7.1753415425deg), oklch(60.120327909% 0.1966596412 13.51745777deg));
  --color-ruby-4: light-dark(oklch(92.4957996369% 0.0393300329 8.1374647665deg), oklch(62.8361411673% 0.1948661059 13.1503856391deg));
  --color-ruby-5: light-dark(oklch(89.6037938206% 0.0561981281 7.2727133951deg), oklch(74.8882843609% 0.1020862764 6.4983251458deg));
  --color-ruby-6: light-dark(oklch(85.8200680793% 0.0663788073 7.9997324921deg), oklch(81.066930729% 0.0799151019 7.1503311323deg));
  --color-ruby-7: light-dark(oklch(81.066930729% 0.0799151019 7.1503311323deg), oklch(85.8200680793% 0.0663788073 7.9997324921deg));
  --color-ruby-8: light-dark(oklch(74.8882843609% 0.1020862764 6.4983251458deg), oklch(89.6037938206% 0.0561981281 7.2727133951deg));
  --color-ruby-9: light-dark(oklch(62.8361411673% 0.1948661059 13.1503856391deg), oklch(92.4957996369% 0.0393300329 8.1374647665deg));
  --color-ruby-10: light-dark(oklch(60.120327909% 0.1966596412 13.51745777deg), oklch(95.3842008726% 0.0220961867 7.1753415425deg));
  --color-ruby-11: light-dark(oklch(54.8907442185% 0.1985225901 13.8978957401deg), oklch(98.2596643836% 0.0086547389 8.540549166deg));
  --color-ruby-12: light-dark(oklch(34.1047566366% 0.1095471003 9.9995490974deg), oklch(99.3635276917% 0.0034357539 354.6875453556deg));
  /* sky */
  --color-sky-1: light-dark(oklch(99.3552020757% 0.0054615058 211.0394907187deg), oklch(35.067641132% 0.0571737156 242.3737164799deg));
  --color-sky-2: light-dark(oklch(97.9231032395% 0.0103496555 219.5872406159deg), oklch(52.5465154764% 0.1079277636 232.5482624977deg));
  --color-sky-3: light-dark(oklch(95.982126211% 0.024009382 219.720074344deg), oklch(83.77560349% 0.1038011504 219.3701340635deg));
  --color-sky-4: light-dark(oklch(93.5836141786% 0.0351117435 219.191845002deg), oklch(86.1068410236% 0.1027209689 217.8044826163deg));
  --color-sky-5: light-dark(oklch(90.3332243195% 0.0466853246 220.5635964981deg), oklch(72.8303482792% 0.0961411586 228.4321162698deg));
  --color-sky-6: light-dark(oklch(86.0360346502% 0.0571468533 223.6450520303deg), oklch(80.6252950314% 0.0716155374 225.4842491634deg));
  --color-sky-7: light-dark(oklch(80.6252950314% 0.0716155374 225.4842491634deg), oklch(86.0360346502% 0.0571468533 223.6450520303deg));
  --color-sky-8: light-dark(oklch(72.8303482792% 0.0961411586 228.4321162698deg), oklch(90.3332243195% 0.0466853246 220.5635964981deg));
  --color-sky-9: light-dark(oklch(86.1068410236% 0.1027209689 217.8044826163deg), oklch(93.5836141786% 0.0351117435 219.191845002deg));
  --color-sky-10: light-dark(oklch(83.77560349% 0.1038011504 219.3701340635deg), oklch(95.982126211% 0.024009382 219.720074344deg));
  --color-sky-11: light-dark(oklch(52.5465154764% 0.1079277636 232.5482624977deg), oklch(97.9231032395% 0.0103496555 219.5872406159deg));
  --color-sky-12: light-dark(oklch(35.067641132% 0.0571737156 242.3737164799deg), oklch(99.3552020757% 0.0054615058 211.0394907187deg));
  /* teal */
  --color-teal-1: light-dark(oklch(99.3737387061% 0.0044164653 179.7391772691deg), oklch(32.7205438789% 0.050675978 184.9914498749deg));
  --color-teal-2: light-dark(oklch(98.1539746806% 0.0088342301 179.608129262deg), oklch(55.2072743201% 0.1010073251 178.7942275937deg));
  --color-teal-3: light-dark(oklch(96.0252298724% 0.025931014 181.8646390377deg), oklch(61.9316707101% 0.1094178621 181.2992703053deg));
  --color-teal-4: light-dark(oklch(93.3987384531% 0.0420972084 179.8031588527deg), oklch(64.9076989905% 0.1135722853 181.9625306628deg));
  --color-teal-5: light-dark(oklch(89.9502339948% 0.0531086138 181.4698193738deg), oklch(72.143610364% 0.0973557442 183.2848377488deg));
  --color-teal-6: light-dark(oklch(85.5784654591% 0.0642873161 181.1734321696deg), oklch(79.6357987242% 0.0760332358 182.969202692deg));
  --color-teal-7: light-dark(oklch(79.6357987242% 0.0760332358 182.969202692deg), oklch(85.5784654591% 0.0642873161 181.1734321696deg));
  --color-teal-8: light-dark(oklch(72.143610364% 0.0973557442 183.2848377488deg), oklch(89.9502339948% 0.0531086138 181.4698193738deg));
  --color-teal-9: light-dark(oklch(64.9076989905% 0.1135722853 181.9625306628deg), oklch(93.3987384531% 0.0420972084 179.8031588527deg));
  --color-teal-10: light-dark(oklch(61.9316707101% 0.1094178621 181.2992703053deg), oklch(96.0252298724% 0.025931014 181.8646390377deg));
  --color-teal-11: light-dark(oklch(55.2072743201% 0.1010073251 178.7942275937deg), oklch(98.1539746806% 0.0088342301 179.608129262deg));
  --color-teal-12: light-dark(oklch(32.7205438789% 0.050675978 184.9914498749deg), oklch(99.3737387061% 0.0044164653 179.7391772691deg));
  /* tomato */
  --color-tomato-1: light-dark(oklch(99.3357173193% 0.00319307 17.2111361536deg), oklch(34.5923275956% 0.079783647 30.390114849deg));
  --color-tomato-2: light-dark(oklch(98.4247616565% 0.0076277632 27.2270673886deg), oklch(56.6468881601% 0.1977696762 32.7258842342deg));
  --color-tomato-3: light-dark(oklch(95.4111347317% 0.021462555 31.7802504239deg), oklch(60.3456176332% 0.194745588 33.2195604785deg));
  --color-tomato-4: light-dark(oklch(92.1230143265% 0.0409947929 34.7608328984deg), oklch(62.7076005075% 0.1935843161 33.3389869447deg));
  --color-tomato-5: light-dark(oklch(88.8968305526% 0.0590114108 32.5581519924deg), oklch(74.091577341% 0.1184267337 32.2510901598deg));
  --color-tomato-6: light-dark(oklch(85.3198858939% 0.0769923344 32.6256382807deg), oklch(80.2045445948% 0.0945589239 32.1871113024deg));
  --color-tomato-7: light-dark(oklch(80.2045445948% 0.0945589239 32.1871113024deg), oklch(85.3198858939% 0.0769923344 32.6256382807deg));
  --color-tomato-8: light-dark(oklch(74.091577341% 0.1184267337 32.2510901598deg), oklch(88.8968305526% 0.0590114108 32.5581519924deg));
  --color-tomato-9: light-dark(oklch(62.7076005075% 0.1935843161 33.3389869447deg), oklch(92.1230143265% 0.0409947929 34.7608328984deg));
  --color-tomato-10: light-dark(oklch(60.3456176332% 0.194745588 33.2195604785deg), oklch(95.4111347317% 0.021462555 31.7802504239deg));
  --color-tomato-11: light-dark(oklch(56.6468881601% 0.1977696762 32.7258842342deg), oklch(98.4247616565% 0.0076277632 27.2270673886deg));
  --color-tomato-12: light-dark(oklch(34.5923275956% 0.079783647 30.390114849deg), oklch(99.3357173193% 0.00319307 17.2111361536deg));
  /* violet */
  --color-violet-1: light-dark(oklch(99.2388090801% 0.0028273614 308.4287412333deg), oklch(31.2809342527% 0.0974863281 286.565416778deg));
  --color-violet-2: light-dark(oklch(98.2640496409% 0.009468097 299.2444312229deg), oklch(50.7831904493% 0.1589179311 288.6372422424deg));
  --color-violet-3: light-dark(oklch(96.2275467101% 0.0190558819 299.0702319951deg), oklch(51.0881590614% 0.1774590199 287.6841059902deg));
  --color-violet-4: light-dark(oklch(93.2472006495% 0.0369507831 297.5371909665deg), oklch(54.1680039163% 0.1790275391 288.0332139383deg));
  --color-violet-5: light-dark(oklch(90.3511885556% 0.0521593795 294.9854548288deg), oklch(72.9728917842% 0.1192894992 292.5953687823deg));
  --color-violet-6: light-dark(oklch(86.4180690202% 0.0720756343 293.6520687557deg), oklch(80.6226593777% 0.0902297884 293.5891100491deg));
  --color-violet-7: light-dark(oklch(80.6226593777% 0.0902297884 293.5891100491deg), oklch(86.4180690202% 0.0720756343 293.6520687557deg));
  --color-violet-8: light-dark(oklch(72.9728917842% 0.1192894992 292.5953687823deg), oklch(90.3511885556% 0.0521593795 294.9854548288deg));
  --color-violet-9: light-dark(oklch(54.1680039163% 0.1790275391 288.0332139383deg), oklch(93.2472006495% 0.0369507831 297.5371909665deg));
  --color-violet-10: light-dark(oklch(51.0881590614% 0.1774590199 287.6841059902deg), oklch(96.2275467101% 0.0190558819 299.0702319951deg));
  --color-violet-11: light-dark(oklch(50.7831904493% 0.1589179311 288.6372422424deg), oklch(98.2640496409% 0.009468097 299.2444312229deg));
  --color-violet-12: light-dark(oklch(31.2809342527% 0.0974863281 286.565416778deg), oklch(99.2388090801% 0.0028273614 308.4287412333deg));
  /* yellow */
  --color-yellow-1: light-dark(oklch(99.2944934363% 0.0052592474 106.4949947907deg), oklch(35.7817630693% 0.0460565446 86.8796820444deg));
  --color-yellow-2: light-dark(oklch(98.7550558184% 0.0249417359 101.9482870054deg), oklch(56.912181173% 0.1191567656 76.8099240462deg));
  --color-yellow-3: light-dark(oklch(97.3526438201% 0.0837764387 104.1976962014deg), oklch(89.6699115398% 0.1850619718 97.4449950465deg));
  --color-yellow-4: light-dark(oklch(95.340028051% 0.1169152087 102.0551843376deg), oklch(91.7579443857% 0.1837709104 100.9361255014deg));
  --color-yellow-5: light-dark(oklch(92.4676932372% 0.1409614616 98.0732057279deg), oklch(76.5655363381% 0.1371628293 89.7445824511deg));
  --color-yellow-6: light-dark(oklch(88.1082569291% 0.133975462 95.3383871454deg), oklch(83.508109005% 0.1204087017 92.8436236807deg));
  --color-yellow-7: light-dark(oklch(83.508109005% 0.1204087017 92.8436236807deg), oklch(88.1082569291% 0.133975462 95.3383871454deg));
  --color-yellow-8: light-dark(oklch(76.5655363381% 0.1371628293 89.7445824511deg), oklch(92.4676932372% 0.1409614616 98.0732057279deg));
  --color-yellow-9: light-dark(oklch(91.7579443857% 0.1837709104 100.9361255014deg), oklch(95.340028051% 0.1169152087 102.0551843376deg));
  --color-yellow-10: light-dark(oklch(89.6699115398% 0.1850619718 97.4449950465deg), oklch(97.3526438201% 0.0837764387 104.1976962014deg));
  --color-yellow-11: light-dark(oklch(56.912181173% 0.1191567656 76.8099240462deg), oklch(98.7550558184% 0.0249417359 101.9482870054deg));
  --color-yellow-12: light-dark(oklch(35.7817630693% 0.0460565446 86.8796820444deg), oklch(99.2944934363% 0.0052592474 106.4949947907deg));
}

:root {
  /* Sans */
  --tf-sans: system-ui, sans-serif;
  --tf-sans-humanist: Seravek, "Gill Sans Nova", Ubuntu, Calibri, "DejaVu Sans",
    source-sans-pro, sans-serif;
  --tf-sans-geometric: Avenir, Montserrat, Corbel, "URW Gothic", source-sans-pro,
    sans-serif;
  --tf-sans-grotesk: Inter, Roboto, "Helvetica Neue", "Arial Nova",
    "Nimbus Sans", Arial, sans-serif;
  --tf-sans-industrial: Bahnschrift, "DIN Alternate", "Franklin Gothic Medium",
    "Nimbus Sans Narrow", sans-serif-condensed, sans-serif;
  --tf-sans-rounded: ui-rounded, "Hiragino Maru Gothic ProN", Quicksand,
    Comfortaa, Manjari, "Arial Rounded MT", "Arial Rounded MT Bold", Calibri,
    source-sans-pro, sans-serif;
  /* Serif */
  --tf-serif: Charter, "Bitstream Charter", "Sitka Text", Cambria, serif;
  --tf-serif-oldstyle: "Iowan Old Style", "Palatino Linotype", "URW Palladio L",
    P052, serif;
  --tf-serif-classical: Optima, Candara, "Noto Sans", source-sans-pro,
    sans-serif;
  --tf-serif-slab: Rockwell, "Rockwell Nova", "Roboto Slab", "DejaVu Serif",
    "Sitka Small", serif;
  --tf-serif-antique: Superclarendon, "Bookman Old Style", "URW Bookman",
    "URW Bookman L", "Georgia Pro", Georgia, serif;
  --tf-serif-didone: Didot, "Bodoni MT", "Noto Serif Display", "URW Palladio L",
    P052, Sylfaen, serif;
  /* Mono */
  --tf-mono: ui-monospace, "Cascadia Code", "Source Code Pro", Menlo, Consolas,
    "DejaVu Sans Mono", monospace;
  --tf-mono-slab: "Nimbus Mono PS", "Courier New", monospace;
  /* Cursive */
  --tf-cursive: "Segoe Print", "Bradley Hand", Chilanka, TSCu_Comic, casual,
    cursive;
}

:root {
  --gap-1: 0.25rem;
  --gap-2: 0.5rem;
  --gap-3: 0.75rem;
  --gap-4: 1rem;
  --gap-5: 1.5rem;
  --gap-6: 2rem;
  --gap-7: 2.5rem;
  --gap-8: 3em;
  --gap-9: 3.75em;
}

:root {
  font-size: clamp(14px, 1vw, 18px);
  --font-size-1: 0.75rem;
  --font-size-2: 0.875rem;
  --font-size-3: 1rem;
  --font-size-4: 1.125rem;
  --font-size-5: 1.25rem;
  --font-size-6: 1.5rem;
  --font-size-7: 1.75rem;
  --font-size-8: 2.1875rem;
  --font-size-9: 3.75rem;
}

:root {
  --shadow-1: 0 1px 3px rgb(2 2 2 / 10%), 0 1px 2px rgb(2 2 2 / 6%);
  --shadow-2: 0 4px 6px rgb(2 2 2 / 10%), 0 2px 4px rgb(2 2 2 / 6%);
  --shadow-3: 0 10px 15px rgb(2 2 2 / 10%), 0 4px 6px rgb(2 2 2 / 5%);
  --shadow-4: 0 20px 25px rgb(2 2 2 / 10%), 0 8px 10px rgb(2 2 2 / 4%);
  --shadow-5: 0 25px 50px rgb(2 2 2 / 15%), 0 10px 10px rgb(2 2 2 / 4%);
}