html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  min-height: 100%;
  text-size-adjust: 100%;
  touch-action: manipulation;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  line-height: normal;
}

@view-transition {
  navigation: auto;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: inherit;
}

a {
  color: currentColor;
  text-decoration: none;
  opacity: 0.87;
}

a:hover,
a:focus,
a:focus-within {
  opacity: 1;
  text-decoration: underline;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  text-wrap: balance;
  line-height: 1;
  font-weight: 400;
}

p {
  text-wrap: pretty;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  text-indent: 0;
}

table tr th {
  text-align: start;
  font-weight: inherit;
}

[hidden] {
  display: none;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --color-white: white;
  --color-black: black;
  /* gray */
  --color-gray-1: light-dark(#fcfcfc, #202020);
  --color-gray-2: light-dark(#f9f9f9, #646464);
  --color-gray-3: light-dark(#f0f0f0, #838383);
  --color-gray-4: light-dark(#e8e8e8, #8d8d8d);
  --color-gray-5: light-dark(#e0e0e0, #bbb);
  --color-gray-6: light-dark(#d9d9d9, #cecece);
  --color-gray-7: light-dark(#cecece, #d9d9d9);
  --color-gray-8: light-dark(#bbb, #e0e0e0);
  --color-gray-9: light-dark(#8d8d8d, #e8e8e8);
  --color-gray-10: light-dark(#838383, #f0f0f0);
  --color-gray-11: light-dark(#646464, #f9f9f9);
  --color-gray-12: light-dark(#202020, #fcfcfc);
  /* mauve */
  --color-mauve-1: light-dark(#fdfcfd, #211f26);
  --color-mauve-2: light-dark(#faf9fb, #65636d);
  --color-mauve-3: light-dark(#f2eff3, #84828e);
  --color-mauve-4: light-dark(#eae7ec, #8e8c99);
  --color-mauve-5: light-dark(#e3dfe6, #bcbac7);
  --color-mauve-6: light-dark(#dbd8e0, #d0cdd7);
  --color-mauve-7: light-dark(#d0cdd7, #dbd8e0);
  --color-mauve-8: light-dark(#bcbac7, #e3dfe6);
  --color-mauve-9: light-dark(#8e8c99, #eae7ec);
  --color-mauve-10: light-dark(#84828e, #f2eff3);
  --color-mauve-11: light-dark(#65636d, #faf9fb);
  --color-mauve-12: light-dark(#211f26, #fdfcfd);
  /* slate */
  --color-slate-1: light-dark(#fcfcfd, #1c2024);
  --color-slate-2: light-dark(#f9f9fb, #60646c);
  --color-slate-3: light-dark(#f0f0f3, #80838d);
  --color-slate-4: light-dark(#e8e8ec, #8b8d98);
  --color-slate-5: light-dark(#e0e1e6, #b9bbc6);
  --color-slate-6: light-dark(#d9d9e0, #cdced6);
  --color-slate-7: light-dark(#cdced6, #d9d9e0);
  --color-slate-8: light-dark(#b9bbc6, #e0e1e6);
  --color-slate-9: light-dark(#8b8d98, #e8e8ec);
  --color-slate-10: light-dark(#80838d, #f0f0f3);
  --color-slate-11: light-dark(#60646c, #f9f9fb);
  --color-slate-12: light-dark(#1c2024, #fcfcfd);
  /* amber */
  --color-amber-1: light-dark(#fefdfb, #4f3422);
  --color-amber-2: light-dark(#fefbe9, #ab6400);
  --color-amber-3: light-dark(#fff7c2, #ffba18);
  --color-amber-4: light-dark(#ffee9c, #ffc53d);
  --color-amber-5: light-dark(#fbe577, #e2a336);
  --color-amber-6: light-dark(#f3d673, #e9c162);
  --color-amber-7: light-dark(#e9c162, #f3d673);
  --color-amber-8: light-dark(#e2a336, #fbe577);
  --color-amber-9: light-dark(#ffc53d, #ffee9c);
  --color-amber-10: light-dark(#ffba18, #fff7c2);
  --color-amber-11: light-dark(#ab6400, #fefbe9);
  --color-amber-12: light-dark(#4f3422, #fefdfb);
  /* sage */
  --color-sage-1: light-dark(#fbfdfc, #1a211e);
  --color-sage-2: light-dark(#f7f9f8, #5f6563);
  --color-sage-3: light-dark(#eef1f0, #7c8481);
  --color-sage-4: light-dark(#e6e9e8, #868e8b);
  --color-sage-5: light-dark(#dfe2e0, #b8bcba);
  --color-sage-6: light-dark(#d7dad9, #cbcfcd);
  --color-sage-7: light-dark(#cbcfcd, #d7dad9);
  --color-sage-8: light-dark(#b8bcba, #dfe2e0);
  --color-sage-9: light-dark(#868e8b, #e6e9e8);
  --color-sage-10: light-dark(#7c8481, #eef1f0);
  --color-sage-11: light-dark(#5f6563, #f7f9f8);
  --color-sage-12: light-dark(#1a211e, #fbfdfc);
  /* olive */
  --color-olive-1: light-dark(#fcfdfc, #1d211c);
  --color-olive-2: light-dark(#f8faf8, #60655f);
  --color-olive-3: light-dark(#eff1ef, #7f847d);
  --color-olive-4: light-dark(#e7e9e7, #898e87);
  --color-olive-5: light-dark(#dfe2df, #b9bcb8);
  --color-olive-6: light-dark(#d7dad7, #cccfcc);
  --color-olive-7: light-dark(#cccfcc, #d7dad7);
  --color-olive-8: light-dark(#b9bcb8, #dfe2df);
  --color-olive-9: light-dark(#898e87, #e7e9e7);
  --color-olive-10: light-dark(#7f847d, #eff1ef);
  --color-olive-11: light-dark(#60655f, #f8faf8);
  --color-olive-12: light-dark(#1d211c, #fcfdfc);
  /* sand */
  --color-sand-1: light-dark(#fdfdfc, #21201c);
  --color-sand-2: light-dark(#f9f9f8, #63635e);
  --color-sand-3: light-dark(#f1f0ef, #82827c);
  --color-sand-4: light-dark(#e9e8e6, #8d8d86);
  --color-sand-5: light-dark(#e2e1de, #bcbbb5);
  --color-sand-6: light-dark(#dad9d6, #cfceca);
  --color-sand-7: light-dark(#cfceca, #dad9d6);
  --color-sand-8: light-dark(#bcbbb5, #e2e1de);
  --color-sand-9: light-dark(#8d8d86, #e9e8e6);
  --color-sand-10: light-dark(#82827c, #f1f0ef);
  --color-sand-11: light-dark(#63635e, #f9f9f8);
  --color-sand-12: light-dark(#21201c, #fdfdfc);
  /* blue */
  --color-blue-1: light-dark(#fbfdff, #113264);
  --color-blue-2: light-dark(#f4faff, #0d74ce);
  --color-blue-3: light-dark(#e6f4fe, #0588f0);
  --color-blue-4: light-dark(#d5efff, #0090ff);
  --color-blue-5: light-dark(#c2e5ff, #5eb1ef);
  --color-blue-6: light-dark(#acd8fc, #8ec8f6);
  --color-blue-7: light-dark(#8ec8f6, #acd8fc);
  --color-blue-8: light-dark(#5eb1ef, #c2e5ff);
  --color-blue-9: light-dark(#0090ff, #d5efff);
  --color-blue-10: light-dark(#0588f0, #e6f4fe);
  --color-blue-11: light-dark(#0d74ce, #f4faff);
  --color-blue-12: light-dark(#113264, #fbfdff);
  /* bronze */
  --color-bronze-1: light-dark(#fdfcfc, #43302b);
  --color-bronze-2: light-dark(#fdf7f5, #7d5e54);
  --color-bronze-3: light-dark(#f6edea, #957468);
  --color-bronze-4: light-dark(#efe4df, #a18072);
  --color-bronze-5: light-dark(#e7d9d3, #c2a499);
  --color-bronze-6: light-dark(#dfcdc5, #d3bcb3);
  --color-bronze-7: light-dark(#d3bcb3, #dfcdc5);
  --color-bronze-8: light-dark(#c2a499, #e7d9d3);
  --color-bronze-9: light-dark(#a18072, #efe4df);
  --color-bronze-10: light-dark(#957468, #f6edea);
  --color-bronze-11: light-dark(#7d5e54, #fdf7f5);
  --color-bronze-12: light-dark(#43302b, #fdfcfc);
  /* brown */
  --color-brown-1: light-dark(#fefdfc, #3e332e);
  --color-brown-2: light-dark(#fcf9f6, #815e46);
  --color-brown-3: light-dark(#f6eee7, #a07553);
  --color-brown-4: light-dark(#f0e4d9, #ad7f58);
  --color-brown-5: light-dark(#ebdaca, #cea37e);
  --color-brown-6: light-dark(#e4cdb7, #dcbc9f);
  --color-brown-7: light-dark(#dcbc9f, #e4cdb7);
  --color-brown-8: light-dark(#cea37e, #ebdaca);
  --color-brown-9: light-dark(#ad7f58, #f0e4d9);
  --color-brown-10: light-dark(#a07553, #f6eee7);
  --color-brown-11: light-dark(#815e46, #fcf9f6);
  --color-brown-12: light-dark(#3e332e, #fefdfc);
  /* crimson */
  --color-crimson-1: light-dark(#fffcfd, #621639);
  --color-crimson-2: light-dark(#fef7f9, #cb1d63);
  --color-crimson-3: light-dark(#ffe9f0, #df3478);
  --color-crimson-4: light-dark(#fedce7, #e93d82);
  --color-crimson-5: light-dark(#facedd, #e093b2);
  --color-crimson-6: light-dark(#f3bed1, #eaacc3);
  --color-crimson-7: light-dark(#eaacc3, #f3bed1);
  --color-crimson-8: light-dark(#e093b2, #facedd);
  --color-crimson-9: light-dark(#e93d82, #fedce7);
  --color-crimson-10: light-dark(#df3478, #ffe9f0);
  --color-crimson-11: light-dark(#cb1d63, #fef7f9);
  --color-crimson-12: light-dark(#621639, #fffcfd);
  /* cyan */
  --color-cyan-1: light-dark(#fafdfe, #0d3c48);
  --color-cyan-2: light-dark(#f2fafb, #107d98);
  --color-cyan-3: light-dark(#def7f9, #0797b9);
  --color-cyan-4: light-dark(#caf1f6, #00a2c7);
  --color-cyan-5: light-dark(#b5e9f0, #3db9cf);
  --color-cyan-6: light-dark(#9ddde7, #7dcedc);
  --color-cyan-7: light-dark(#7dcedc, #9ddde7);
  --color-cyan-8: light-dark(#3db9cf, #b5e9f0);
  --color-cyan-9: light-dark(#00a2c7, #caf1f6);
  --color-cyan-10: light-dark(#0797b9, #def7f9);
  --color-cyan-11: light-dark(#107d98, #f2fafb);
  --color-cyan-12: light-dark(#0d3c48, #fafdfe);
  /* gold */
  --color-gold-1: light-dark(#fdfdfc, #3b352b);
  --color-gold-2: light-dark(#faf9f2, #71624b);
  --color-gold-3: light-dark(#f2f0e7, #8c7a5e);
  --color-gold-4: light-dark(#eae6db, #978365);
  --color-gold-5: light-dark(#e1dccf, #b9a88d);
  --color-gold-6: light-dark(#d8d0bf, #cbc0aa);
  --color-gold-7: light-dark(#cbc0aa, #d8d0bf);
  --color-gold-8: light-dark(#b9a88d, #e1dccf);
  --color-gold-9: light-dark(#978365, #eae6db);
  --color-gold-10: light-dark(#8c7a5e, #f2f0e7);
  --color-gold-11: light-dark(#71624b, #faf9f2);
  --color-gold-12: light-dark(#3b352b, #fdfdfc);
  /* grass */
  --color-grass-1: light-dark(#fbfefb, #203c25);
  --color-grass-2: light-dark(#f5fbf5, #2a7e3b);
  --color-grass-3: light-dark(#e9f6e9, #3e9b4f);
  --color-grass-4: light-dark(#daf1db, #46a758);
  --color-grass-5: light-dark(#c9e8ca, #65ba74);
  --color-grass-6: light-dark(#b2ddb5, #94ce9a);
  --color-grass-7: light-dark(#94ce9a, #b2ddb5);
  --color-grass-8: light-dark(#65ba74, #c9e8ca);
  --color-grass-9: light-dark(#46a758, #daf1db);
  --color-grass-10: light-dark(#3e9b4f, #e9f6e9);
  --color-grass-11: light-dark(#2a7e3b, #f5fbf5);
  --color-grass-12: light-dark(#203c25, #fbfefb);
  /* green */
  --color-green-1: light-dark(#fbfefc, #193b2d);
  --color-green-2: light-dark(#f4fbf6, #218358);
  --color-green-3: light-dark(#e6f6eb, #2b9a66);
  --color-green-4: light-dark(#d6f1df, #30a46c);
  --color-green-5: light-dark(#c4e8d1, #5bb98b);
  --color-green-6: light-dark(#adddc0, #8eceaa);
  --color-green-7: light-dark(#8eceaa, #adddc0);
  --color-green-8: light-dark(#5bb98b, #c4e8d1);
  --color-green-9: light-dark(#30a46c, #d6f1df);
  --color-green-10: light-dark(#2b9a66, #e6f6eb);
  --color-green-11: light-dark(#218358, #f4fbf6);
  --color-green-12: light-dark(#193b2d, #fbfefc);
  /* indigo */
  --color-indigo-1: light-dark(#fdfdfe, #1f2d5c);
  --color-indigo-2: light-dark(#f7f9ff, #3a5bc7);
  --color-indigo-3: light-dark(#edf2fe, #3358d4);
  --color-indigo-4: light-dark(#e1e9ff, #3e63dd);
  --color-indigo-5: light-dark(#d2deff, #8da4ef);
  --color-indigo-6: light-dark(#c1d0ff, #abbdf9);
  --color-indigo-7: light-dark(#abbdf9, #c1d0ff);
  --color-indigo-8: light-dark(#8da4ef, #d2deff);
  --color-indigo-9: light-dark(#3e63dd, #e1e9ff);
  --color-indigo-10: light-dark(#3358d4, #edf2fe);
  --color-indigo-11: light-dark(#3a5bc7, #f7f9ff);
  --color-indigo-12: light-dark(#1f2d5c, #fdfdfe);
  /* iris */
  --color-iris-1: light-dark(#fdfdff, #272962);
  --color-iris-2: light-dark(#f8f8ff, #5753c6);
  --color-iris-3: light-dark(#f0f1fe, #5151cd);
  --color-iris-4: light-dark(#e6e7ff, #5b5bd6);
  --color-iris-5: light-dark(#dadcff, #9b9ef0);
  --color-iris-6: light-dark(#cbcdff, #b8baf8);
  --color-iris-7: light-dark(#b8baf8, #cbcdff);
  --color-iris-8: light-dark(#9b9ef0, #dadcff);
  --color-iris-9: light-dark(#5b5bd6, #e6e7ff);
  --color-iris-10: light-dark(#5151cd, #f0f1fe);
  --color-iris-11: light-dark(#5753c6, #f8f8ff);
  --color-iris-12: light-dark(#272962, #fdfdff);
  /* jade */
  --color-jade-1: light-dark(#fbfefd, #1d3b31);
  --color-jade-2: light-dark(#f4fbf7, #208368);
  --color-jade-3: light-dark(#e6f7ed, #26997b);
  --color-jade-4: light-dark(#d6f1e3, #29a383);
  --color-jade-5: light-dark(#c3e9d7, #56ba9f);
  --color-jade-6: light-dark(#acdec8, #8bceb6);
  --color-jade-7: light-dark(#8bceb6, #acdec8);
  --color-jade-8: light-dark(#56ba9f, #c3e9d7);
  --color-jade-9: light-dark(#29a383, #d6f1e3);
  --color-jade-10: light-dark(#26997b, #e6f7ed);
  --color-jade-11: light-dark(#208368, #f4fbf7);
  --color-jade-12: light-dark(#1d3b31, #fbfefd);
  /* lime */
  --color-lime-1: light-dark(#fcfdfa, #37401c);
  --color-lime-2: light-dark(#f8faf3, #5c7c2f);
  --color-lime-3: light-dark(#eef6d6, #b0e64c);
  --color-lime-4: light-dark(#e2f0bd, #bdee63);
  --color-lime-5: light-dark(#d3e7a6, #8db654);
  --color-lime-6: light-dark(#c2da91, #abc978);
  --color-lime-7: light-dark(#abc978, #c2da91);
  --color-lime-8: light-dark(#8db654, #d3e7a6);
  --color-lime-9: light-dark(#bdee63, #e2f0bd);
  --color-lime-10: light-dark(#b0e64c, #eef6d6);
  --color-lime-11: light-dark(#5c7c2f, #f8faf3);
  --color-lime-12: light-dark(#37401c, #fcfdfa);
  /* mint */
  --color-mint-1: light-dark(#f9fefd, #16433c);
  --color-mint-2: light-dark(#f2fbf9, #027864);
  --color-mint-3: light-dark(#ddf9f2, #7de0cb);
  --color-mint-4: light-dark(#c8f4e9, #86ead4);
  --color-mint-5: light-dark(#b3ecde, #4cbba5);
  --color-mint-6: light-dark(#9ce0d0, #7ecfbd);
  --color-mint-7: light-dark(#7ecfbd, #9ce0d0);
  --color-mint-8: light-dark(#4cbba5, #b3ecde);
  --color-mint-9: light-dark(#86ead4, #c8f4e9);
  --color-mint-10: light-dark(#7de0cb, #ddf9f2);
  --color-mint-11: light-dark(#027864, #f2fbf9);
  --color-mint-12: light-dark(#16433c, #f9fefd);
  /* orange */
  --color-orange-1: light-dark(#fefcfb, #582d1d);
  --color-orange-2: light-dark(#fff7ed, #cc4e00);
  --color-orange-3: light-dark(#ffefd6, #ef5f00);
  --color-orange-4: light-dark(#ffdfb5, #f76b15);
  --color-orange-5: light-dark(#ffd19a, #ec9455);
  --color-orange-6: light-dark(#ffc182, #f5ae73);
  --color-orange-7: light-dark(#f5ae73, #ffc182);
  --color-orange-8: light-dark(#ec9455, #ffd19a);
  --color-orange-9: light-dark(#f76b15, #ffdfb5);
  --color-orange-10: light-dark(#ef5f00, #ffefd6);
  --color-orange-11: light-dark(#cc4e00, #fff7ed);
  --color-orange-12: light-dark(#582d1d, #fefcfb);
  /* pink */
  --color-pink-1: light-dark(#fffcfe, #651249);
  --color-pink-2: light-dark(#fef7fb, #c2298a);
  --color-pink-3: light-dark(#fee9f5, #cf3897);
  --color-pink-4: light-dark(#fbdcef, #d6409f);
  --color-pink-5: light-dark(#f6cee7, #dd93c2);
  --color-pink-6: light-dark(#efbfdd, #e7acd0);
  --color-pink-7: light-dark(#e7acd0, #efbfdd);
  --color-pink-8: light-dark(#dd93c2, #f6cee7);
  --color-pink-9: light-dark(#d6409f, #fbdcef);
  --color-pink-10: light-dark(#cf3897, #fee9f5);
  --color-pink-11: light-dark(#c2298a, #fef7fb);
  --color-pink-12: light-dark(#651249, #fffcfe);
  /* plum */
  --color-plum-1: light-dark(#fefcff, #53195d);
  --color-plum-2: light-dark(#fdf7fd, #953ea3);
  --color-plum-3: light-dark(#fbebfb, #a144af);
  --color-plum-4: light-dark(#f7def8, #ab4aba);
  --color-plum-5: light-dark(#f2d1f3, #cf91d8);
  --color-plum-6: light-dark(#e9c2ec, #deade3);
  --color-plum-7: light-dark(#deade3, #e9c2ec);
  --color-plum-8: light-dark(#cf91d8, #f2d1f3);
  --color-plum-9: light-dark(#ab4aba, #f7def8);
  --color-plum-10: light-dark(#a144af, #fbebfb);
  --color-plum-11: light-dark(#953ea3, #fdf7fd);
  --color-plum-12: light-dark(#53195d, #fefcff);
  /* purple */
  --color-purple-1: light-dark(#fefcfe, #402060);
  --color-purple-2: light-dark(#fbf7fe, #8145b5);
  --color-purple-3: light-dark(#f7edfe, #8347b9);
  --color-purple-4: light-dark(#f2e2fc, #8e4ec6);
  --color-purple-5: light-dark(#ead5f9, #be93e4);
  --color-purple-6: light-dark(#e0c4f4, #d1afec);
  --color-purple-7: light-dark(#d1afec, #e0c4f4);
  --color-purple-8: light-dark(#be93e4, #ead5f9);
  --color-purple-9: light-dark(#8e4ec6, #f2e2fc);
  --color-purple-10: light-dark(#8347b9, #f7edfe);
  --color-purple-11: light-dark(#8145b5, #fbf7fe);
  --color-purple-12: light-dark(#402060, #fefcfe);
  /* red */
  --color-red-1: light-dark(#fffcfc, #641723);
  --color-red-2: light-dark(#fff7f7, #ce2c31);
  --color-red-3: light-dark(#feebec, #dc3e42);
  --color-red-4: light-dark(#ffdbdc, #e5484d);
  --color-red-5: light-dark(#ffcdce, #eb8e90);
  --color-red-6: light-dark(#fdbdbe, #f4a9aa);
  --color-red-7: light-dark(#f4a9aa, #fdbdbe);
  --color-red-8: light-dark(#eb8e90, #ffcdce);
  --color-red-9: light-dark(#e5484d, #ffdbdc);
  --color-red-10: light-dark(#dc3e42, #feebec);
  --color-red-11: light-dark(#ce2c31, #fff7f7);
  --color-red-12: light-dark(#641723, #fffcfc);
  /* ruby */
  --color-ruby-1: light-dark(#fffcfd, #64172b);
  --color-ruby-2: light-dark(#fff7f8, #ca244d);
  --color-ruby-3: light-dark(#feeaed, #dc3b5d);
  --color-ruby-4: light-dark(#ffdce1, #e54666);
  --color-ruby-5: light-dark(#ffced6, #e592a3);
  --color-ruby-6: light-dark(#f8bfc8, #efacb8);
  --color-ruby-7: light-dark(#efacb8, #f8bfc8);
  --color-ruby-8: light-dark(#e592a3, #ffced6);
  --color-ruby-9: light-dark(#e54666, #ffdce1);
  --color-ruby-10: light-dark(#dc3b5d, #feeaed);
  --color-ruby-11: light-dark(#ca244d, #fff7f8);
  --color-ruby-12: light-dark(#64172b, #fffcfd);
  /* sky */
  --color-sky-1: light-dark(#f9feff, #1d3e56);
  --color-sky-2: light-dark(#f1fafd, #00749e);
  --color-sky-3: light-dark(#e1f6fd, #74daf8);
  --color-sky-4: light-dark(#d1f0fa, #7ce2fe);
  --color-sky-5: light-dark(#bee7f5, #60b3d7);
  --color-sky-6: light-dark(#a9daed, #8dcae3);
  --color-sky-7: light-dark(#8dcae3, #a9daed);
  --color-sky-8: light-dark(#60b3d7, #bee7f5);
  --color-sky-9: light-dark(#7ce2fe, #d1f0fa);
  --color-sky-10: light-dark(#74daf8, #e1f6fd);
  --color-sky-11: light-dark(#00749e, #f1fafd);
  --color-sky-12: light-dark(#1d3e56, #f9feff);
  /* teal */
  --color-teal-1: light-dark(#fafefd, #0d3d38);
  --color-teal-2: light-dark(#f3fbf9, #008573);
  --color-teal-3: light-dark(#e0f8f3, #0d9b8a);
  --color-teal-4: light-dark(#ccf3ea, #12a594);
  --color-teal-5: light-dark(#b8eae0, #53b9ab);
  --color-teal-6: light-dark(#a1ded2, #83cdc1);
  --color-teal-7: light-dark(#83cdc1, #a1ded2);
  --color-teal-8: light-dark(#53b9ab, #b8eae0);
  --color-teal-9: light-dark(#12a594, #ccf3ea);
  --color-teal-10: light-dark(#0d9b8a, #e0f8f3);
  --color-teal-11: light-dark(#008573, #f3fbf9);
  --color-teal-12: light-dark(#0d3d38, #fafefd);
  /* tomato */
  --color-tomato-1: light-dark(#fffcfc, #5c271f);
  --color-tomato-2: light-dark(#fff8f7, #d13415);
  --color-tomato-3: light-dark(#feebe7, #dd4425);
  --color-tomato-4: light-dark(#ffdcd3, #e54d2e);
  --color-tomato-5: light-dark(#ffcdc2, #ec8e7b);
  --color-tomato-6: light-dark(#fdbdaf, #f5a898);
  --color-tomato-7: light-dark(#f5a898, #fdbdaf);
  --color-tomato-8: light-dark(#ec8e7b, #ffcdc2);
  --color-tomato-9: light-dark(#e54d2e, #ffdcd3);
  --color-tomato-10: light-dark(#dd4425, #feebe7);
  --color-tomato-11: light-dark(#d13415, #fff8f7);
  --color-tomato-12: light-dark(#5c271f, #fffcfc);
  /* violet */
  --color-violet-1: light-dark(#fdfcfe, #2f265f);
  --color-violet-2: light-dark(#faf8ff, #6550b9);
  --color-violet-3: light-dark(#f4f0fe, #654dc4);
  --color-violet-4: light-dark(#ebe4ff, #6e56cf);
  --color-violet-5: light-dark(#e1d9ff, #aa99ec);
  --color-violet-6: light-dark(#d4cafe, #c2b5f5);
  --color-violet-7: light-dark(#c2b5f5, #d4cafe);
  --color-violet-8: light-dark(#aa99ec, #e1d9ff);
  --color-violet-9: light-dark(#6e56cf, #ebe4ff);
  --color-violet-10: light-dark(#654dc4, #f4f0fe);
  --color-violet-11: light-dark(#6550b9, #faf8ff);
  --color-violet-12: light-dark(#2f265f, #fdfcfe);
  /* yellow */
  --color-yellow-1: light-dark(#fdfdf9, #473b1f);
  --color-yellow-2: light-dark(#fefce9, #9e6c00);
  --color-yellow-3: light-dark(#fffab8, #ffdc00);
  --color-yellow-4: light-dark(#fff394, #ffe629);
  --color-yellow-5: light-dark(#ffe770, #d5ae39);
  --color-yellow-6: light-dark(#f3d768, #e4c767);
  --color-yellow-7: light-dark(#e4c767, #f3d768);
  --color-yellow-8: light-dark(#d5ae39, #ffe770);
  --color-yellow-9: light-dark(#ffe629, #fff394);
  --color-yellow-10: light-dark(#ffdc00, #fffab8);
  --color-yellow-11: light-dark(#9e6c00, #fefce9);
  --color-yellow-12: light-dark(#473b1f, #fdfdf9);
}

:root {
  /* Sans */
  --tf-sans: system-ui, sans-serif;
  --tf-sans-humanist: Seravek, "Gill Sans Nova", Ubuntu, Calibri, "DejaVu Sans",
    source-sans-pro, sans-serif;
  --tf-sans-geometric: Avenir, Montserrat, Corbel, "URW Gothic", source-sans-pro,
    sans-serif;
  --tf-sans-grotesk: Inter, Roboto, "Helvetica Neue", "Arial Nova",
    "Nimbus Sans", Arial, sans-serif;
  --tf-sans-industrial: Bahnschrift, "DIN Alternate", "Franklin Gothic Medium",
    "Nimbus Sans Narrow", sans-serif-condensed, sans-serif;
  --tf-sans-rounded: ui-rounded, "Hiragino Maru Gothic ProN", Quicksand,
    Comfortaa, Manjari, "Arial Rounded MT", "Arial Rounded MT Bold", Calibri,
    source-sans-pro, sans-serif;
  /* Serif */
  --tf-serif: Charter, "Bitstream Charter", "Sitka Text", Cambria, serif;
  --tf-serif-oldstyle: "Iowan Old Style", "Palatino Linotype", "URW Palladio L",
    P052, serif;
  --tf-serif-classical: Optima, Candara, "Noto Sans", source-sans-pro,
    sans-serif;
  --tf-serif-slab: Rockwell, "Rockwell Nova", "Roboto Slab", "DejaVu Serif",
    "Sitka Small", serif;
  --tf-serif-antique: Superclarendon, "Bookman Old Style", "URW Bookman",
    "URW Bookman L", "Georgia Pro", Georgia, serif;
  --tf-serif-didone: Didot, "Bodoni MT", "Noto Serif Display", "URW Palladio L",
    P052, Sylfaen, serif;
  /* Mono */
  --tf-mono: ui-monospace, "Cascadia Code", "Source Code Pro", Menlo, Consolas,
    "DejaVu Sans Mono", monospace;
  --tf-mono-slab: "Nimbus Mono PS", "Courier New", monospace;
  /* Cursive */
  --tf-cursive: "Segoe Print", "Bradley Hand", Chilanka, TSCu_Comic, casual,
    cursive;
}

:root {
  --gap-1: 0.25rem;
  --gap-2: 0.5rem;
  --gap-3: 0.75rem;
  --gap-4: 1rem;
  --gap-5: 1.5rem;
  --gap-6: 2rem;
  --gap-7: 2.5rem;
  --gap-8: 3em;
  --gap-9: 3.75em;
  --gap-10: 4.5em;
  --gap-11: 5.25em;
  --gap-12: 6em;
}

:root {
  font-size: clamp(14px, 1vw, 18px);
  --font-size-1: 0.75rem;
  --font-size-2: 0.875rem;
  --font-size-3: 1rem;
  --font-size-4: 1.125rem;
  --font-size-5: 1.25rem;
  --font-size-6: 1.5rem;
  --font-size-7: 1.75rem;
  --font-size-8: 2.1875rem;
  --font-size-9: 3.75rem;
  --font-size-10: 4.5rem;
  --font-size-11: 5.25rem;
  --font-size-12: 6rem;
}

:root {
  --shadow-1: 0 1px 3px rgb(2 2 2 / 10%), 0 1px 2px rgb(2 2 2 / 6%);
  --shadow-2: 0 4px 6px rgb(2 2 2 / 10%), 0 2px 4px rgb(2 2 2 / 6%);
  --shadow-3: 0 10px 15px rgb(2 2 2 / 10%), 0 4px 6px rgb(2 2 2 / 5%);
  --shadow-4: 0 20px 25px rgb(2 2 2 / 10%), 0 8px 10px rgb(2 2 2 / 4%);
  --shadow-5: 0 25px 50px rgb(2 2 2 / 15%), 0 10px 10px rgb(2 2 2 / 4%);
}
